

img{
    max-width: 100%;
}

main{
    padding-top: 135px;
}

/* HEADER */


.top-header{
    background-color: black;
}

.top-header .logo{
    width: 150px;
    margin-bottom: 0;
}

/* JUMBOTRON 1 */


.jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    padding-top: 300px;
}


/* SECOND JUMBOTRON */

.jumbo-second{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    padding-top: 20px;
}

/* SMALL JUMBO */

.small-jumbo{
    background-color: #bebcbb;
}

/* SECOND SMALL JUMBO */

.second-sml-jumbo{
    background-color: rgba(22,28,59,255);
}

/* FOOTER */

footer{
    background-color: rgba(0,67,156,255);
}

footer .col-12 ul{
    list-style-type: none;
    line-height: 30px;
    margin-bottom: 0;
}

footer .col-12 ul li a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}

#last-link{
    color: white;
}

footer figure{
    width: 150px;
}