

img{
    max-width: 100%;
}

/* HEADER */


.top-header{
    background-color: black;
}

.top-header .logo{
    width: 150px;
    margin-bottom: 0;
}

/* JUMBOTRON 1 */

.jumbo .row .col{
    min-height: 627px;
}

.jumbo{
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-repeat: no-repeat;
}


/* SECTION LIST-CONSOLLE */

.list-consolle img{
    max-width: 100%;
}

/* SECOND JUMBOTRON */

.jumbo-second{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
}

/* SMALL JUMBO */

.small-jumbo{
    background-color: #bebcbb;
}

/* SECOND SMALL JUMBO */

.second-sml-jumbo{
    background-color: rgba(22,28,59,255);
}